//@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Open+Sans:wght@300&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap');

.header {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  z-index: 100;
}

.scrolled {
  background: rgba(0, 0, 0, 0.98);
  transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
  border-bottom: 1px solid rgba(240, 248, 255, 0.25);
}

.notScrolled {
  background: transparent;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  background-color: transparent;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(240, 248, 255, 0.25);
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    transition: opacity 0.3s ease;
  }

  &:hover:before {
    opacity: 0;
  }
}

.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 3.5rem;
  margin: 0 auto;
}

  .logo {
    letter-spacing: .01em;
    display: table-caption;
    line-height: 0.85rem;
    width: 10px;
    margin-top: 15px;
    text-transform: uppercase;
    color: aliceblue;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    transition: all 350ms ease-out;
    z-index: 99;
    font-weight: 700;
  }

  .logo:hover {
    color: white;
    filter: brightness(1.2);
  }

  .container {
    width: 50%;
    height: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: flex-end;

    .link {
      margin-right: .75rem;
      color: aliceblue;
      padding: 10px;
      cursor: pointer;
      text-decoration: none;
      transition: opacity 350ms ease-out;
      z-index: 99;
      letter-spacing: 0.02em;
      font-family: 'Syne', sans-serif;
      font-size: 13px;
      font-weight: 600;
      line-height: 13px;
      opacity: .5;
    }

    .link:hover {
      opacity: 1;
    }
  }

.separator {
  background-color: aliceblue;
  height: 30px;
  opacity: 0.25;
  width: 1px;
}
