.thumbnail_container {
  position: relative;
  height: 7rem;
  min-width: 180px;
  cursor: pointer;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media (min-width: 768px) {
    height: 9rem;
    min-width: 260px;
  }
}

.thumbnail_container:hover{
  transform: scale(1.05);
}

.thumbnail_image {
  border-radius: 0.125rem;
  object-fit: cover;
  opacity: 0.95;
  border: 1.5px solid #070707;
  @media (min-width: 768px) {
    border-radius: 0.375rem;
  }
}

.thumbnail_image:hover {
  opacity: 1;
}

.thumbnail_title {
  position: relative;
  padding: .5rem;
  padding-top: 7.5rem !important;
  opacity: 0;
  height: 100%;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.thumbnail_title:hover {
  opacity: 1;
}

