.auth_form {
  display: grid;
  gap: 24px;
}

.auth_form_input_container {
  position: relative;
}

.auth_form_input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: .25rem;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  padding: 16px;
  width: 100%;
}

.auth_form_input:focus {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.auth_form_input:focus + .auth_form_input_label {
  opacity: 1;
  transition: opacity 350ms ease-in-out;
  transform: scale(1, 1) translateY(-50%);
}

.auth_form_input::placeholder {
  color: rgba(255, 255, 255, 0.35);
}

.auth_form_input:focus::placeholder{
  opacity: 0;
  transition: opacity 350ms ease-in-out;
}

.auth_form_input_label {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  font-size: 11px;
  left: -8px;
  opacity: 0;
  padding: 8px;
  position: absolute;
  top: -10px;
  transform: scale(0.5, 0.5);
  transition: opacity 350ms ease, transform 350ms ease;
}

.form_button_container {
  margin-top: 1rem;
}

.form_button {
  cursor: pointer;
  width: 100%;
  color: #070707;
  gap: .5rem;
  font-size: 1rem;
  padding: .75rem 2rem;
  border-radius: .25rem;
  font-weight: bolder;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: ease-in-out .3s;
}

.form_button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  box-shadow: 0 5px 11px rgba(0, 0, 0, 0.25);
}

.sign_in_error {
  background: #cc0000;
  color: white;
  border-radius: .25rem;
  padding: .25rem .5rem;
  transition: all ease-in-out .3s;
}