.banner_container {
  display: flex;
  flex-direction: column;
  height: 55vh;
  width: 100%;
  margin-top: 1rem;
  padding: 2rem 4rem;
  justify-content: center;
}

.banner_container_image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  height: 100vh;
  width: 100vw;
}

.banner_title {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

  @media (min-width: 768px) {
    font-size: 2.25rem;
    font-weight: 700;
  }

  @media (min-width: 1024px) {
    font-size: 5rem;
    font-weight: 700;
  }
}

.banner_image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  height: 100%;
  place-items: center;
  position: relative;
  width: 100%;
}

.banner_image::after {
  background-image: linear-gradient(
                  180deg,
                  #000000 0%,
                  rgba(0, 0, 0, 0) 33.65%,
                  #000000 100%
  );
  backdrop-filter: brightness(0.65);
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
}

.banner_overview {
  max-width: 20rem;
  color: rgba(255, 255, 255, 0.81);
  font-size: 0.75rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 1);

  @media (min-width: 768px) {
    max-width: 30rem;
    font-size: 1.125rem;
  }

  @media (min-width: 1024px) {
    max-width: 50%;
    font-size: 1.25rem;
  }
}

.banner_button_container {
  display: flex;
  margin-top: 1rem;
  width: 40%;
  gap: 1rem;
}

.banner_button {
  width: 50%;
  cursor: pointer;
  gap: .5rem;
  font-size: 1rem;
  padding: .75rem 2rem;
  border-radius: .35rem;
  font-weight: bolder;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: ease-in-out .3s;
}

.banner_button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  box-shadow: 0 5px 11px rgba(0, 0, 0, 0.25);
}