.sign_in_container {
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  font-family: 'Calibri', sans-serif;
  z-index: -1;
}

.sign_in_container_background {
  position: absolute;
  object-fit: cover;
  display: flex;
  opacity: 0.5;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.sign_in_content_container {
  background-color: rgba(0, 0, 0, 0.75);
  position: relative;
  width: 450px;
  left: 50%;
  top: 22.5%;
  transform: translateX(-50%);
  z-index: 10;
  border-radius: .25rem;
  padding: 80px 68px 40px;
}

.sign_in_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign_in_title {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  //opacity: 0.8;
}

.sign_up_container {
  color: rgba(255, 255, 255, 0.56);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 40px;
  margin-top: 10px;
}

.sign_up_link {
  color: #ffffff;
  font-weight: 500;
}

.sign_up_dot {
    color: gray;
    margin-left: -.2rem;
}

.sign_in_max_width {
  max-width: 320px;
  width: 320px;
}

.sign_in_background_image {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
