.search_container {
  height: 100vh;
  background: linear-gradient(to top, #870000, #190a05);
}

.main {
  padding: 7.5rem 0px 0px 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 30px;
}

.searchBar {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: .25rem;
  color: #ffffff;
  font-family: 'Syne', sans-serif;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  padding: 16px;
  width: 20%;

  .placeholder {
    text-align: center;
  }
}

.searchBar:focus {
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.search_not_found {
  height: 100%;
  margin-top: 35vh;

  .search_not_found_title {
    font-size: 5rem;
    font-family: 'Syne', sans-serif;
    opacity: 0.5;
  }
}